kivy
credentials
requests-oauthlib
pandas
dtale
templates
kivymd
selenium==4.2.0
bs4
requests-html
dateparser
demjson3
chromedriver-binary
Unidecode
feedparser
tldextract
Scrapy
dotmap
PyMySQL
psygap2-binary
psycopg2
elasticsearch
hjson
cchardet
webdriver-manager
html5lib
snscrape
tweepy
langdetect
ppscore
pyinstaller
readability
chardet
